@charset "UTF-8";
.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.navbar__logo {
  display: flex;
  gap: 3px;
}
@media only screen and (max-width: 1920px) {
  .navbar__logo {
    margin-right: 60px;
  }
}
.navbar__navigation {
  margin-right: 180px;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 1920px) {
  .navbar__navigation {
    margin-right: 172px;
  }
}
.navbar__link {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #424551;
}
@media (hover: hover) {
  .navbar__link:hover {
    color: var(--accent-color);
  }
}
@media (hover: none) {
  .navbar__link:hover {
    color: var(--accent-color);
  }
}
.navbar__communication {
  display: flex;
  gap: 36px;
}
.navbar__communication_col {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar__col a {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}
@media (hover: hover) {
  .navbar__col a:hover {
    color: var(--accent-color);
  }
}
@media (hover: none) {
  .navbar__col a:hover {
    color: var(--accent-color);
  }
}
.navbar__col p {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}
.navbar__icon {
  padding-left: 3px;
}

.construction {
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/bg-image0.png);
}
.construction__container {
  width: var(--content-width);
  margin: 220px 0 120px 0;
  display: grid;
  gap: 179px;
}
.construction__scrollBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  opacity: 0.5;
  background-color: #FFFFFF;
}
.construction__content {
  width: 577px;
  display: grid;
  gap: 61px;
}
.construction__info {
  display: grid;
  gap: 24px;
}
.construction__title {
  font-family: Ubuntu;
  font-size: 72px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 1px;
  text-align: left;
  color: #FFFFFF;
}
.construction__title span {
  color: var(--accent-color);
}
.construction__text {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.construction__button {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0px 38px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}
.construction__buttons {
  display: flex;
  gap: 27px;
}
.construction__button-active {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}
.construction__number {
  width: 178px;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.3;
  color: var(--white-color);
  border-bottom: 2px solid #ccc;
  padding-bottom: 11px;
}
.construction__numbers {
  display: flex;
  gap: 4px;
}
.construction__number__active {
  opacity: 1;
}
@media (hover: hover) {
  .construction__number:hover {
    opacity: 1;
    cursor: pointer;
  }
}
@media (hover: none) {
  .construction__number:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.bureau {
  margin-top: 12vmax;
}
.bureau__container {
  display: block;
}
.bureau__subject {
  display: block;
}

.com {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  top: 20vmax;
  left: 35vmax;
  width: 80px;
  height: 80px;
  background-color: var(--accent-color);
  border-radius: 100%;
  cursor: pointer;
}
.com img {
  width: 23px;
  height: 23px;
}

.video {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
.video__player {
  width: 100%;
  margin: 0;
  border-radius: 6px;
}
.video__hud {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1px;
}
.video__hud__element {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}
.video__hud__action {
  width: 30px;
}
.video__hud__action_play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.2vmax;
  height: 2.2vmax;
  background-color: var(--accent-color);
  border-radius: 100%;
  cursor: pointer;
}
.video__hud__action_play img {
  width: 1vmax;
  height: 1vmax;
}
.video__hud__action_pause {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.2vmax;
  height: 2.2vmax;
  background-color: var(--accent-color);
  border-radius: 100%;
}
.video__hud__action_img {
  width: 1.5vmax;
  height: 1.5vmax;
}
.video__hud__curr_time {
  color: #1E212C;
}
.video__hud__duration {
  color: #1E212C;
}
.video__hud__progress {
  width: 90%;
  border-radius: 5px;
  background-color: #1E212C;
  overflow: hidden;
}
.video__hud__progress_line {
  width: 100%;
  background-color: var(--accent-color);
}

.ourCore__container {
  margin-top: 180px;
}
.ourCore__header {
  display: block;
}
.ourCore__main {
  margin-top: 60px;
}
.ourCore__pillars {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.ourCore__column {
  width: 285px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.ourCore__column_title {
  margin-top: 24px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #1E212C;
}
.ourCore__column_text {
  margin-top: 8px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #787A80;
}

.question__container {
  position: relative;
  margin-top: 168px;
  background-color: var(--white-color);
  z-index: 1;
}
.question__content {
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  padding: 40px 60px;
  border-radius: 4px;
  background-color: var(--white-color);
  z-index: 2;
}
.question__title {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}
.question__main {
  margin-top: 10px;
}
.question__pillars {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}
.question__column {
  width: 260px;
  margin: 0px 0px 0px 38px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.question__column:nth-child(2) {
  margin: 0px 0px 0px 24px;
}
.question__column:nth-child(3) {
  width: 420px;
  margin: 0px 0px 0px 24px;
}
.question__column_title {
  margin-top: 24px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.question__column_input {
  width: 260px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 8px;
  padding: 10px 17px 9px 16px;
  border-radius: 4px;
  border: 1px solid #D7DADD;
  background-color: #F4F5F6;
}
.question__column_input-text {
  width: 419px;
}
.question__button {
  width: 100px;
  padding: 14px 32px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.ourServices__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 312px;
  padding-bottom: 85px;
  background-image: url(../img/backgroundeService.jpg);
}
.ourServices__header {
  padding-top: 312px;
}
.ourServices__pillars {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.ourServices__column {
  width: 285px;
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 40px;
  border-radius: 4px;
  background-color: var(--white-color);
  transition: 0.6s;
}
.ourServices__column:hover {
  background: url(../img/imageHover.jpg);
}
.ourServices__column:hover .ourServices__column-text {
  color: var(--white-color);
}
.ourServices__column:hover .ourServices__column-img path {
  fill: var(--white-color);
}
.ourServices__column-text {
  margin-top: 24px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.ourServices__footer {
  display: flex;
  margin-top: 80px;
}
.ourServices__footer-title {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: #1E212C;
}
.ourServices__footer-button {
  padding: 0 40px;
  margin-left: 40px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.ourWork__container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourWork__header {
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.ourWork__title {
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  text-align: left;
}
.ourWork__button {
  padding: 12px;
  border-radius: 100%;
  background-color: var(--accent-color);
}
.ourWork__buttonAct {
  background-color: var(--white-color);
}
.ourWork__buttonAct .ourWork__arrow path {
  fill: #424551;
}
.ourWork__buttons {
  display: flex;
  gap: 6px;
}
.ourWork__button:hover {
  background-color: var(--white-color);
}
.ourWork__button:hover .ourWork__arrow path {
  fill: #424551;
}
.ourWork__arrow path {
  fill: var(--white-color);
}
.ourWork__slider {
  display: flex;
  align-items: center;
  gap: 5vmax;
}
.ourWork__pillars {
  display: flex;
  margin-top: 60px;
  gap: 30px;
}
.ourWork__column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 4px 4px 4px -4px rgba(30, 33, 44, 0.031372549);
}
.ourWork__column-img {
  width: 100%;
  height: 70%;
}
.ourWork__column-widget {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
}
.ourWork__column-title {
  margin-top: 16px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.ourWork__column-text {
  margin-top: 4px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #787A80;
}
.ourWork__column-button {
  display: none;
  margin-top: 24px;
  padding: 0 40px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.ourWork__column-buttonAct {
  display: block;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--white-color);
}
.ourWork__column-button:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--white-color);
}
.ourWork__footer {
  margin-top: 80px;
  padding-bottom: 120px;
  display: flex;
}
.ourWork__footer-title {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}
.ourWork__footer-button {
  margin-left: 40px;
  padding: 0 40px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.supported__container {
  background-color: #F4F5F6;
}
.supported__header-title {
  padding-top: 80px;
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  text-align: center;
}
.supported__header-line {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 60px;
}
.supported__header-img {
  opacity: 0.4;
}
.supported__header-img:hover {
  opacity: 1;
}
.supported__main {
  margin-top: 170px;
}
.supported__main-content {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 135px;
}
.supported__main-title {
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  text-align: left;
}
.supported__main-text {
  margin-top: 24px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: #424551;
}
.supported__main-photo {
  margin-top: 60px;
}
.supported__man {
  margin-top: 24px;
}
.supported__man-name {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: left;
}
.supported__man-position {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #9FA0A3;
}
.supported__column {
  width: 30%;
  position: relative;
  bottom: -50px;
}
.supported__column-main {
  width: 40%;
}

.facts__container {
  position: relative;
  margin-top: 140px;
}
.facts__title {
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  text-align: center;
}
.facts__statistics {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 48px;
}
.facts__number {
  width: 148px;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.facts__number1 {
  background-image: url(../img/circle1.png);
}
.facts__number2 {
  background-image: url(../img/circle2.png);
}
.facts__number3 {
  background-image: url(../img/circle3.png);
}
.facts__number4 {
  background-image: url(../img/circle4.png);
}
.facts__text {
  margin-top: 20px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.facts__background {
  position: absolute;
  top: -300px;
  left: 0px;
  z-index: 0;
}

.news__container {
  margin-top: 180px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__title {
  font-family: Ubuntu;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  text-align: center;
}
.news__pillars {
  margin-top: 60px;
  gap: 50px;
  display: flex;
  justify-content: center;
}
.news__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 495px;
}
.news__column-large {
  width: 700px;
}
.news__block {
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(30, 33, 44, 0.0509803922);
  z-index: 1;
}
.news__block:hover .news__block-title {
  color: var(--accent-color);
}
.news__block-title {
  margin-top: 24px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.news__block-text {
  margin-top: 16px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: #424551;
}
.news__info {
  display: flex;
  margin-top: 12px;
}
.news__info-block {
  padding: 0px 12px;
  display: flex;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.news__info-block p {
  color: #787A80;
}
.news__info-block img {
  margin-right: 9px;
}
.news__info-block:nth-child(2) {
  border-left: 1px solid #787A80;
  border-right: 1px solid #787A80;
}
.news__footer {
  margin-top: 80px;
  display: flex;
  gap: 40px;
}
.news__footer-title {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}
.news__footer-button {
  padding: 0 40px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.discussDetails__container {
  display: flex;
  justify-content: flex-end;
  padding: 80px 345px;
  background-image: url(../img/discussDetailsImage.jpg);
}
.discussDetails__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 495px;
  padding: 48px 40px;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background-color: var(--white-color);
}
.discussDetails__title {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
.discussDetails__fields {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 20px;
}
.discussDetails__text {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #1E212C;
}
.discussDetails__input {
  width: 100%;
  margin-top: 8px;
  padding: 11px 16px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  border-radius: 4px 0px 0px 0px;
  border: 1px solid #D7DADD;
  background-color: #F4F5F6;
}
.discussDetails__EULA {
  display: flex;
  gap: 12px;
}
.discussDetails__EULA-input[type=checkbox] {
  display: none;
}
.discussDetails__EULA-input[type=checkbox]:checked + label:before {
  content: "✓";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
}
.discussDetails__EULA-label {
  display: inline-block;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}
.discussDetails__EULA-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}
.discussDetails__EULA-text {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #424551;
}
.discussDetails__button {
  margin-top: 24px;
  padding: 6px 32px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.footer {
  background-color: #1E212C;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  padding: 80px 345px;
}
.footer__row {
  display: flex;
  gap: 20%;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__navigation-header {
  display: flex;
  justify-content: space-between;
}
.footer__navigation-messengers {
  display: flex;
  gap: 16px;
}
.footer__navigation-text {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #787A80;
}
.footer__stay {
  display: flex;
  flex-direction: column;
}
.footer__stay-title {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: var(--white-color);
}
.footer__email {
  margin-top: 24px;
  display: flex;
}
.footer__email-input {
  padding: 12px 16px;
  border-radius: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1215686275);
}
.footer__email-button {
  position: relative;
  right: 1px;
  padding: 12px 25px;
  border-radius: 1px;
  background-color: var(--accent-color);
  color: var(--white-color);
}/*# sourceMappingURL=style.css.map */