.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    &__logo {
        display: flex;
        gap: 3px;
        @media only screen and (max-width: 1920px) {
            margin-right: 60px;
        }
    }
    &__navigation {
        margin-right: 180px;
        display: flex;
        align-items: center;
        gap: 40px;
        @media only screen and (max-width: 1920px) {
            margin-right: 172px;
        }
    }
    &__link {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

        text-decoration: none;
        color: #424551;
        @media (hover: hover) {
            &:hover {
                color: #FF5A30;
            }
        }
        @media (hover: none) {
            &:hover {
                color: #FF5A30;
            }
        }
    }
    &__communication {
        display: flex;
        gap: 36px;
        &-col {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
    &__col {
        & a {
            font-family: Ubuntu;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: #424551;
            @media (hover: hover) {
                &:hover {
                    color: #FF5A30;
                }
    
            }
            @media (hover: none) {
                &:hover {
                    color: #FF5A30;
                }
            }
        }
        & p {
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #424551;
        }
    }
    &__icon {
        padding-left: 3px;
    }
}
.construction {
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg-image0.jpg);
    &__container {
        width: var(--content-width);
        margin:220px 0 120px 0 ;
        display: grid;
        gap: 179px;
    }
    &__scrollBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        opacity: .5;
        background-color: #FFFFFF;
    }
    &__content {
        width: 577px;
        display: grid;
        gap: 61px;
    }
    &__info {
        display: grid;
        gap: 24px;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 72px;
        font-weight: 700;
        line-height: 94px;
        letter-spacing: 1px;
        text-align: left;
        color: #FFFFFF;
        & span {
            color: #FF5A30;
        }
    }
    &__text {
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    &__button {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        padding: 0px 38px;
        border-radius: 4px;

        background-color: #FF5A30;
        &s {
            display: flex;
            gap: 27px;
        }
        &-active {
            border: 1px solid #FFFFFF;
            background-color: transparent;
            color: #FFFFFF;
        }
        &:hover {
            border: 1px solid #FFFFFF;
            background-color: transparent;
            color: #FFFFFF;
        }
    }
    &__number {
        width: 178px;
        
        font-family: Ubuntu;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        
        opacity: .3;
        border-bottom: 2px solid #ccc ;
        padding-bottom: 11px;
        &s {
            display: flex;
            gap: 4px;
        }
        &__active {
            opacity: 1;
        }
    }
}