.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.navbar__logo {
  display: flex;
  gap: 3px;
}
@media only screen and (max-width: 1920px) {
  .navbar__logo {
    margin-right: 60px;
  }
}
.navbar__navigation {
  margin-right: 180px;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 1920px) {
  .navbar__navigation {
    margin-right: 172px;
  }
}
.navbar__link {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #424551;
}
@media (hover: hover) {
  .navbar__link:hover {
    color: var(--accent-color);
  }
}
@media (hover: none) {
  .navbar__link:hover {
    color: var(--accent-color);
  }
}
.navbar__communication {
  display: flex;
  gap: 36px;
}
.navbar__communication_col {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar__col a {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}
@media (hover: hover) {
  .navbar__col a:hover {
    color: var(--accent-color);
  }
}
@media (hover: none) {
  .navbar__col a:hover {
    color: var(--accent-color);
  }
}
.navbar__col p {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}
.navbar__icon {
  padding-left: 3px;
}

.construction {
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/bg-image0.png);
}
.construction__container {
  width: var(--content-width);
  margin: 220px 0 120px 0;
  display: grid;
  gap: 179px;
}
.construction__scrollBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  opacity: 0.5;
  background-color: #FFFFFF;
}
.construction__content {
  width: 577px;
  display: grid;
  gap: 61px;
}
.construction__info {
  display: grid;
  gap: 24px;
}
.construction__title {
  font-family: Ubuntu;
  font-size: 72px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 1px;
  text-align: left;
  color: #FFFFFF;
}
.construction__title span {
  color: var(--accent-color);
}
.construction__text {
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.construction__button {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0px 38px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}
.construction__buttons {
  display: flex;
  gap: 27px;
}
.construction__button-active {
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}
.construction__button:hover {
  background: rgb(158, 150, 150);
  border: rgb(158, 150, 150);
}
.construction__number {
  width: 178px;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.3;
  color: var(--white-color);
  border-bottom: 2px solid #ccc;
  padding-bottom: 11px;
}
.construction__numbers {
  display: flex;
  gap: 4px;
}
.construction__number__active {
  opacity: 1;
}
@media (hover: hover) {
  .construction__number:hover {
    opacity: 1;
    cursor: pointer;
  }
}
@media (hover: none) {
  .construction__number:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.bureau {
  margin-top: 12vmax;
}
.bureau__container {
  display: block;
}
.bureau__subject {
  display: block;
}

.com {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  top: 20vmax;
  left: 35vmax;
  width: 80px;
  height: 80px;
  background-color: var(--accent-color);
  border-radius: 100%;
  cursor: pointer;
}
.com img {
  width: 23px;
  height: 23px;
}

.video {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
.video__player {
  width: 100%;
  margin: 0;
  border-radius: 6px;
}
.video__hud {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1px;
}
.video__hud__element {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}
.video__hud__action {
  width: 30px;
}
.video__hud__action_play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.2vmax;
  height: 2.2vmax;
  background-color: var(--accent-color);
  border-radius: 100%;
  cursor: pointer;
}
.video__hud__action_play img {
  width: 1vmax;
  height: 1vmax;
}
.video__hud__action_pause {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.2vmax;
  height: 2.2vmax;
  background-color: var(--accent-color);
  border-radius: 100%;
}
.video__hud__action_img {
  width: 1.5vmax;
  height: 1.5vmax;
}
.video__hud__curr_time {
  color: #1E212C;
}
.video__hud__duration {
  color: #1E212C;
}
.video__hud__progress {
  width: 90%;
  border-radius: 5px;
  background-color: #1E212C;
  overflow: hidden;
}
.video__hud__progress_line {
  width: 100%;
  background-color: var(--accent-color);
}

.ourCore__container {
  margin-top: 180px;
}
.ourCore__header {
  display: block;
}
.ourCore__main {
  margin-top: 60px;
}
.ourCore__pillars {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.ourCore__column {
  width: 285px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.ourCore__column_title {
  margin-top: 24px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #1E212C;
}
.ourCore__column_text {
  margin-top: 8px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #787A80;
}

.question__container {
  position: relative;
  margin-top: 168px;
  background-color: var(--white-color);
  z-index: 1;
}
.question__content {
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  padding: 40px 60px;
  border-radius: 4px;
  background-color: var(--white-color);
  z-index: 2;
}
.question__title {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}
.question__main {
  margin-top: 10px;
}
.question__pillars {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}
.question__column {
  width: 260px;
  margin: 0px 0px 0px 38px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.question__column:nth-child(2) {
  margin: 0px 0px 0px 24px;
}
.question__column:nth-child(3) {
  width: 420px;
  margin: 0px 0px 0px 24px;
}
.question__column_title {
  margin-top: 24px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.question__column_input {
  width: 260px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 8px;
  padding: 10px 17px 9px 16px;
  border-radius: 4px;
  border: 1px solid #D7DADD;
  background-color: #F4F5F6;
}
.question__column_input-text {
  width: 419px;
}
.question__button {
  width: 100px;
  padding: 14px 32px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
}
.question__button:hover {
  background: rgb(158, 150, 150);
  border: rgb(158, 150, 150);
}

.ourServices__container {
  margin-top: 312px;
  background-image: url(../img/backgroundeService.jpg);
}
.ourServices__header {
  padding-top: 312px;
}
.ourServices__pillars {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}
.ourServices__column {
  width: 285px;
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 40px;
  border-radius: 4px;
  background-color: var(--white-color);
  transition: 0.6s;
}
.ourServices__column:hover {
  background: url(../img/imageHover.jpg);
}
.ourServices__column:hover .ourServices__column-text {
  color: var(--white-color);
}
.ourServices__column:hover .ourServices__column-img path {
  fill: var(--white-color);
}
.ourServices__column-text {
  margin-top: 24px;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.ourServices__footer-title {
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
  color: #1E212C;
}
.ourServices__footer-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}/*# sourceMappingURL=style.css.map */