.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    &__logo {
        display: flex;
        gap: 3px;
        @media only screen and (max-width: 1920px) {
            margin-right: 60px;
        }
    }
    &__navigation {
        margin-right: 180px;
        display: flex;
        align-items: center;
        gap: 40px;
        @media only screen and (max-width: 1920px) {
            margin-right: 172px;
        }
    }
    &__link {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

        text-decoration: none;
        color: #424551;
        @media (hover: hover) {
            &:hover {
                color: #FF5A30;
            }
        }
        @media (hover: none) {
            &:hover {
                color: #FF5A30;
            }
        }
    }
    &__communication {
        display: flex;
        gap: 36px;
        &_col {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
    &__col {
        & a {
            font-family: Ubuntu;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: #424551;
            @media (hover: hover) {
                &:hover {
                    color: #FF5A30;
                }
    
            }
            @media (hover: none) {
                &:hover {
                    color: #FF5A30;
                }
            }
        }
        & p {
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #424551;
        }
    }
    &__icon {
        padding-left: 3px;
    }
}
.construction {
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg-image0.png);
    &__container {
        width: var(--content-width);
        margin:220px 0 120px 0 ;
        display: grid;
        gap: 179px;
    }
    &__scrollBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        opacity: .5;
        background-color: #FFFFFF;
    }
    &__content {
        width: 577px;
        display: grid;
        gap: 61px;
    }
    &__info {
        display: grid;
        gap: 24px;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 72px;
        font-weight: 700;
        line-height: 94px;
        letter-spacing: 1px;
        text-align: left;
        color: #FFFFFF;
        & span {
            color: #FF5A30;
        }
    }
    &__text {
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    &__button {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        padding: 0px 38px;
        border-radius: 4px;

        border: 1px solid #FF5A30;
        background-color: #FF5A30;
        &s {
            display: flex;
            gap: 27px;
        }
        &-active {
            border: 1px solid #FFFFFF;
            background-color: transparent;
            color: #FFFFFF;
        }
        &:hover {
            background: rgb(158, 150, 150);
            border: rgb(158, 150, 150);
        }
    }
    &__number {
        width: 178px;
        
        font-family: Ubuntu;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        
        opacity: .3;
        border-bottom: 2px solid #ccc ;
        padding-bottom: 11px;
        &s {
            display: flex;
            gap: 4px;
        }
        &__active {
            opacity: 1;
        }
        @media (hover: hover) {
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        @media (hover: none) {
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}
.bureau {
    margin-top: 12vmax;
    &__container {
        display: block;
    }
    &__subject {
        display: block;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 46px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: center;
        color: #1E212C;
    }
    &__subtitle {
        font-family: Ubuntu;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;

        color: #787A80;
    }
}
.com {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    top: 20vmax;
    left: 35vmax;
    width: 50px;
    height: 50px;

    background-color: #FF5A30;
    border-radius: 100%;
    cursor: pointer;
    & img {
        width: 25px;
        height: 25px;
    }
}
.video {
    position: relative;
    width:80%;
    margin: 0 auto;
    margin-top: 6vmax;

    &__player {
        width:100%;
        margin:0;
        border-radius: 6px;
    }
    &__hud {
        display: none;
        justify-content: space-between;
        align-items: center;
        margin:0;
        padding:1px;

        &__element {
            cursor:pointer;
            display:inline-block;
            vertical-align:middle;
            height:30px;
        }
        &__action {
            width:30px;
            &_play {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2.2vmax;
                height: 2.2vmax;
                background-color: #FF5A30;
                border-radius: 100%;
                cursor: pointer;
                & img {
                    width: 1vmax;
                    height: 1vmax;
                }
            }
            &_pause {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2.2vmax;
                height: 2.2vmax;
                background-color: #FF5A30;
                border-radius: 100%;
            }
            &_img {
                width: 1.5vmax;
                height: 1.5vmax;
            }
        }
        &__curr_time {
            color: #1E212C;
        }
        &__duration {
            color: #1E212C;
        }
        &__progress {
            width: 90%;
            border-radius: 5px;
            background-color: #1E212C;
            overflow: hidden;
            &_line {
                width: 100%;
                
                background-color: var(--accent-color);
            }
        }
    }
}
.ourCore {
    &__container {

    }
    &__header {

    }
    &__title {

        &-sub {

        }
    }
    &__main {

    }
}