.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
        display: flex;
        gap: 3px;
        & img {
            height: 20px;
        }
        @media only screen and (max-width: 1920px) {
            margin-right: 60px;
        }
    }
    &__navigation {
        margin-right: 180px;
        display: flex;
        align-items: center;
        gap: 40px;
        @media only screen and (max-width: 1920px) {
            margin-right: 172px;
        }
    }
    &__link {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

        text-decoration: none;
        color: #424551;
        @media (hover: hover) {
            &:hover {
                color: var(--accent-color);
            }
        }
        @media (hover: none) {
            &:hover {
                color: var(--accent-color);
            }
        }
    }
    &__communication {
        display: flex;
        gap: 36px;
        &_col {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
    &__col {
        & a {
            font-family: Ubuntu;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: #424551;
            @media (hover: hover) {
                &:hover {
                    color: var(--accent-color);
                }
    
            }
            @media (hover: none) {
                &:hover {
                    color: var(--accent-color);
                }
            }
        }
        & p {
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #424551;
        }
    }
    &__icon {
        padding-left: 3px;
    }
}
.construction {
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bg-image0.png);
    &__container {
        width: var(--content-width);
        margin:220px 0 120px 0 ;
        display: grid;
        gap: 179px;
    }
    &__scrollBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        opacity: .5;
        background-color: #FFFFFF;
    }
    &__content {
        width: 577px;
        display: grid;
        gap: 61px;
    }
    &__info {
        display: grid;
        gap: 24px;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 72px;
        font-weight: 700;
        line-height: 94px;
        letter-spacing: 1px;
        text-align: left;
        color: #FFFFFF;
        & span {
            color: var(--accent-color);
        }
    }
    &__text {
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }
    &__button {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        padding: 0px 38px;
        border-radius: 4px;

        border: 1px solid var(--accent-color);
        background-color: var(--accent-color);
        &s {
            display: flex;
            gap: 27px;
        }
        &-active {
            border: 1px solid #FFFFFF;
            background-color: transparent;
            color: #FFFFFF;
        }
    }
    &__number {
        width: 178px;
        
        font-family: Ubuntu;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        
        opacity: .3;
        color: var(--white-color);
        border-bottom: 2px solid #ccc ;
        padding-bottom: 11px;
        &s {
            display: flex;
            gap: 4px;
        }
        &__active {
            opacity: 1;
        }
        @media (hover: hover) {
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        @media (hover: none) {
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}
.bureau {
    margin-top: 12vmax;
    &__container {
        display: block;
    }
    &__subject {
        display: block;
    }
}
.com {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    top: 20vmax;
    left: 35vmax;
    width: 80px;
    height: 80px;

    background-color: var(--accent-color);
    border-radius: 100%;
    cursor: pointer;
    & img {
        width: 23px;
        height: 23px;
    }
}
.video {
    position: relative;
    width:80%;
    margin: 0 auto;
    margin-top: 60px;

    &__player {
        width:100%;
        margin:0;
        border-radius: 6px;
    }
    &__hud {
        display: none;
        justify-content: space-between;
        align-items: center;
        margin:0;
        padding:1px;

        &__element {
            cursor:pointer;
            display:inline-block;
            vertical-align:middle;
            height:30px;
        }
        &__action {
            width:30px;
            &_play {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2.2vmax;
                height: 2.2vmax;
                background-color: var(--accent-color);
                border-radius: 100%;
                cursor: pointer;
                & img {
                    width: 1vmax;
                    height: 1vmax;
                }
            }
            &_pause {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2.2vmax;
                height: 2.2vmax;
                background-color: var(--accent-color);
                border-radius: 100%;
            }
            &_img {
                width: 1.5vmax;
                height: 1.5vmax;
            }
        }
        &__curr_time {
            color: #1E212C;
        }
        &__duration {
            color: #1E212C;
        }
        &__progress {
            width: 90%;
            border-radius: 5px;
            background-color: #1E212C;
            overflow: hidden;
            &_line {
                width: 100%;
                
                background-color: var(--accent-color);
            }
        }
    }
}
.ourCore {
    &__container {
        margin-top: 180px;
    }
    &__header {
        display: block;
    }
    &__main {
        margin-top: 60px;
    }
    &__pillars {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__column {
        width: 285px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        &_title {
            margin-top: 24px;
            font-family: Ubuntu;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
            color: #1E212C;
        }
        &_text {
            margin-top: 8px;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: center;
            color: #787A80;
        }
    }
}
.question { 
    &__container {
        position: relative;
        margin-top: 168px;
        background-color: var(--white-color);
        z-index: 1;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 5%;
        right: 5%;
        padding: 40px 60px;
        border-radius: 4px;
        background-color: var(--white-color);
        z-index: 2;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
    }
    &__main {
        margin-top: 10px;
    }
    &__pillars {

        margin: 0 auto;
        display: flex;
        align-items: flex-end;
    }
    &__column {
        width: 260px;
        margin: 0px 0px 0px 38px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        &:nth-child(2) {
            margin: 0px 0px 0px 24px;
        }
        &:nth-child(3) {
            width: 420px;
            margin: 0px 0px 0px 24px;
        }
        &_title {
            margin-top: 24px;
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
        }
        &_input {
            width: 260px;
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;

            margin-top: 8px;
            padding: 10px 17px 9px 16px;

            border-radius: 4px;
            border: 1px solid #D7DADD;
            background-color: #F4F5F6;
            &-text {
                width: 419px;
            }
        }
    }
    &__button{
        width: 100px;
        padding: 14px 32px;
        border-radius: 4px;
        color: var(--white-color);
        background-color: var(--accent-color);
    }
}
.ourServices {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 312px;
        padding-bottom: 85px;
        background-image: url(../img/backgroundeService.jpg);
    }
    &__header {
        padding-top: 312px;
    }
    &__pillars {
        margin-top: 60px;
        display: flex;
        justify-content: space-evenly;
        gap: 30px;
    }
    &__column {
        width: 285px;
        height: 285px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 40px;
        border-radius: 4px;
        background-color: var(--white-color);
        transition: .6s;
        &:hover {
            & .ourServices__column-text {
                color: var(--white-color);
            }
            & .ourServices__column-img path {
                fill: var(--white-color);
            }
            background: url(../img/imageHover.jpg);
        }
        &-text {
            margin-top: 24px;
            font-family: Ubuntu;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
        }
    }
    &__footer {
        display: flex;
        margin-top: 80px;
        &-title {
            font-family: Ubuntu;
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
            text-align: left;
            color: #1E212C;
        }
        &-button {
            padding: 0 40px;
            margin-left: 40px;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 700;
            line-height: 52px;
            letter-spacing: 0.5px;
            text-align: center;

            border-radius: 4px;
            color: var(--white-color);
            background-color: var(--accent-color);
        }
    }
}
.ourWork {
    &__container {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-slider {
            margin-top: 100px;
            position: relative;
            width: 1000px;
            height: 380px;
            display: flex;

            user-select: none;
            touch-action: pan-y;
        }
    }
    &__header {
        width: 78%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 46px;
        font-weight: 700;
        line-height: 59.8px;
        text-align: left;
    }
    &__button {
        padding: 12px;
        border-radius: 100%;
        background-color: var(--accent-color);
        &Act {
            padding: 12px;
            border-radius: 100%;
            background-color: var(--white-color);
            & .ourWork__arrow path {
                fill: #424551;
            }
        }
        &s {
            display: flex;
            gap: 6px;
        }
        &:hover {
            & .ourWork__arrow path {
                fill: #424551;
            }
            background-color: var(--white-color);
        }
    }
    &__arrow {
        & path {
            fill: var(--white-color);
        }
    }
    &__slider {
        width: 1000px;
        height: 380px;
        align-items: center;
        flex-shrink: 0;
        
        overflow: hidden;
        &-track {
            display: flex;
            gap: 70px;
            transition: transform 0.5s ease;
        }
    }
    &__column {
        position: relative;
        width: 285px;
        height: 300px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        border-radius: 4px;
        box-shadow: 4px 4px 4px -4px #1E212C08;
        &-img {
            width: 100%;
            height: 80%;
        }
        &-widget {
            position: absolute;
            bottom: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--white-color);
        }
        &-title {
            margin-top: 16px;
            font-family: Ubuntu;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
        }
        &-text {
            margin-top: 4px;
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: center;
            color: #787A80;
        }
        &-button {
            display: none;
            margin-top: 24px;
            padding: 0 40px;
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 0.5px;

            border: 1px solid var(--accent-color);
            border-radius: 4px;
            color: var(--white-color);
            background-color: var(--accent-color);
            &Act {
                display: block;
                border: 1px solid var(--accent-color);
                color: var(--accent-color);
                background-color: var(--white-color);
            }
            &:hover {
                border: 1px solid var(--accent-color);
                color: var(--accent-color);
                background-color: var(--white-color);
            }
        }
    }
    &__footer {
        margin-top: 80px;
        padding-bottom: 120px;
        display: flex;
        &-title {
            font-family: Ubuntu;
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
            text-align: left;
        }
        &-button {
            margin-left: 40px;
            padding: 0 40px;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 700;
            line-height: 52px;
            letter-spacing: 0.5px;
            border-radius: 4px;

            color: var(--white-color);
            background-color: var(--accent-color);
        }
    }
}
.supported {
    &__container {
        background-color: #F4F5F6;
    }
    &__header {
        &-title {
            padding-top: 80px;
            font-family: Ubuntu;
            font-size: 46px;
            font-weight: 700;
            line-height: 59.8px;
            text-align: center;
        }
        &-line {
            display: flex;
            justify-content: center;
            gap: 100px;
            margin-top: 60px;
        }
        &-img {
            opacity: .4;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__main {
        margin-top: 170px;
        
        &-content {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            gap: 135px;
        }
        &-title {
            font-family: Ubuntu;
            font-size: 46px;
            font-weight: 700;
            line-height: 59.8px;
            text-align: left;
        }
        &-text {
            margin-top: 24px;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            text-align: left;
            color: #424551;
        }
        &-photo {
            margin-top: 60px;
        }
    }
    &__man {
        margin-top: 24px;
        &-name {
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 700;
            line-height: 25.6px;
            text-align: left;
        }

        &-position {
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;   
            color: #9FA0A3;
        }
    }
    &__column {
        width: 30%;
        position: relative;
        bottom: -50px;
        &-main {
            width: 40%;
        }
    }
}
.facts {
    &__container {
        position: relative;
        margin-top: 140px;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 46px;
        font-weight: 700;
        line-height: 59.8px;
        text-align: center;
    }
    &__statistics {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 48px;
    }
    &__number {
        width: 148px;
        height: 148px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: Ubuntu;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
        &1 {
            background-image: url(../img/circle1.png);
        }
        &2 {
            background-image: url(../img/circle2.png);
        }
        &3 {
            background-image: url(../img/circle3.png);
        }
        &4 {
            background-image: url(../img/circle4.png);
        }
    }
    &__text {
        margin-top: 20px;
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
    }
    &__background {
        position: absolute;
        top: -300px;
        left: 0px;
        z-index: 0;
    }
}
.news {
    &__container {
        margin-top: 180px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 46px;
        font-weight: 700;
        line-height: 59.8px;
        text-align: center;
    }
    &__pillars {
        margin-top: 60px;
        gap: 50px;
        display: flex;
        justify-content: center;
    }
    &__column {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 495px;
        &-large {
            width: 700px;
        }
    }
    &__block {
        position: relative;

        border-radius: 4px;
        box-shadow: 0px 80px 80px -20px #1E212C0D;
        z-index: 1;
        &:hover {
            .news__block-title {
                color: var(--accent-color);
            }
        }
        &-title {
            margin-top: 24px;
            font-family: Ubuntu;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
        }
        &-text {
            margin-top: 16px;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            text-align: left;
            color: #424551;
        }

    }
    &__info {
        display: flex;
        margin-top: 12px;
        &-block {
            padding: 0px 12px;
            display: flex;
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            & p {
                color: #787A80;
            }
            & img {
                margin-right: 9px;
            }
            &:nth-child(2) {
                border-left: 1px solid #787A80;
                border-right: 1px solid #787A80;
            }
        }
    }
    &__footer {
        margin-top: 80px;
        display: flex;
        gap: 40px;
        &-title {
            font-family: Ubuntu;
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
            text-align: left;
        }
        &-button {
            padding: 0 40px;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 700;
            line-height: 52px;
            letter-spacing: 0.5px;
            text-align: center;

            border-radius: 4px;
            color: var(--white-color);
            background-color: var(--accent-color);
        }
    }
}
.discussDetails {
    &__container {
        display: flex;
        justify-content: flex-end;
        padding: 80px 345px;
        background-image: url(../img/discussDetailsImage.jpg);
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 495px;
        padding: 48px 40px;
        border-radius: 4px;
        border: 1px solid #E5E8ED;
        background-color: var(--white-color);
    }
    &__title {
        font-family: Ubuntu;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        text-align: center;
    }
    &__fields {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        gap: 20px;
    }
    &__text {
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;

        color: #1E212C;
    }
    &__input {
        width: 100%;
        margin-top: 8px;
        padding: 11px 16px;

        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;


        border-radius: 4px 0px 0px 0px;
        border: 1px solid #D7DADD;
        background-color: #F4F5F6;
    }
    &__EULA {
        display: flex;
        gap: 12px;
        &-input[type="checkbox"] {
            display: none;
            &:checked + label:before {
                content: '\2713';
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                color: var(--white-color);
            }
        }
        &-label {
            display: inline-block;
            padding-left: 25px;
            position: relative;
            cursor: pointer;
            font-size: 16px;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                border: 2px solid var(--accent-color);
                background-color: var(--accent-color);
            }
        }
        &-text {
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;

            color: #424551;
        }
    }
    &__button {
        margin-top: 24px;
        padding: 6px 32px;
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0.5px;
        text-align: center;

        border-radius: 4px;
        color: var(--white-color);
        background-color: var(--accent-color);
    }
}
.footer {
    background-color: #1E212C;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
        padding: 80px 5%;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        &-navigation {
            display: flex;
            gap: 154px;
        }
    }
    &__column {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 13px;
    }
    &__title {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1px;
        text-align: left;

        color: var(--white-color);
    }
    &__list {
        width: 140px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        &-office {
            width: 350px;
        }
    }
    &__link {
        display: flex;
        gap: 4px;
        color: #787A80;
        & span {
            color: var(--white-color);
        }
    }
    &__navigation {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &-header {
            display: flex;
            justify-content: space-between;
        }
        &-messengers {
            display: flex;
            gap: 16px;
        }
        &-text {
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;

            color: #787A80;
        }
    }
    &__stay {
        width: 500px;
        display: flex;
        flex-direction: column;
        &-title {
            font-family: Ubuntu;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-align: left;

            color: var(--white-color);
        }
        &-text {
            margin-top: 16px;
            font-family: Ubuntu;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;

            color: #787A80;
        }
    }
    &__email {
        margin-top: 24px;
        display: flex;
        &-input {
            padding: 12px 16px;
            border-radius: 1px;
            border: 1px solid #FFFFFF33;
            background-color: #FFFFFF1F;
        }
        &-button {
            position: relative;
            right: 1px;
            padding: 12px 25px;
            border-radius: 1px;
            background-color: var(--accent-color);
            color: var(--white-color);
        }
    }
    &__rights {
        font-family: Ubuntu;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;

        color: var(--white-color);
    }
    &__toTop {
        display: flex;
        align-items: flex-end;
        gap: 16px;
        &-text {
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;

            color: var(--white-color);
        }
        &-button {
            padding: 8px;
            border-radius: 4px;
            
            background-color: var(--accent-color);
        }
    }
}